.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  gap: 1rem;
  padding: 0;
  position: relative;
}

.image {
  width: 100%;
  object-fit: contain;
}

.navButton {
  background: none;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navButtonLeft {
  left: 1rem;
}

.navButtonRight {
  right: 1rem;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .content {
    padding: 0 2.5rem;
  }

  .image {
    max-width: 80vw;
    max-height: 80vh;
  }

  .navButtonLeft {
    left: 2.5rem;
  }

  .navButtonRight {
    right: 2.5rem;
  }
}
