.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 6rem;
}

.section {
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: #fff;
}

.section:last-child {
  margin-bottom: 2.5rem;
}

.sectionTitle {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  color: #005a81;
}

.list {
  list-style-type: decimal;
  padding-left: 1rem;
}

.listItem {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.paragraph {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .section {
    padding: 1.5rem;
  }

  .list {
    padding-left: 1.5rem;
  }
}
